*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
body{
    height: 100vh;
    background: #000;
}
.container{
    height:60vh;
    width:30vw;
    position: absolute;
    top:50%;
    left:50vw;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.box{
    height: 250px;
    width:250px;
    position: absolute;
    top: 50px;
    left: 100px;
    transform-style: preserve-3d;
    animation: animate 5s infinite;
}
@keyframes animate {
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    75%{
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    
}
.card{
    height: 250px;
    width:250px;
    /* color: whitesmoke; */
    border:2px solid black;
    box-sizing: border-box;
    position: absolute;
    transition: all 3s ease;
 }
#left{
    right:125px;
    transform: rotateY(-90deg);
}
#right{
    left:125px;
    transform: rotateY(90deg);
}
#top{
    bottom:125px;
    transform: rotateX(90deg);
}
#bottom{
    top:125px;
    transform: rotateX(-90deg);
}
#front{

    transform: translateZ(125px);
}
#back{
    transform: translateZ(-125px);
}

#left:hover,
#right:hover,
#top:hover,
#bottom:hover,
#front:hover,
#back:hover {
  /* height: 300px; */
  /* width: 300px; */
  transform: scale(1.2);
  z-index: 2;
}
#input{
    height: 50px;
    width: 120px;
    background: rgb(255, 184, 5);
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: 400px;
    left: -200px;
    border-radius: 50px;
}

#input:focus~ .box #front{
    transform: translateZ(180px) rotateY(360deg);
}
#input:focus~ .box #back{
    transform: translateZ(-180px) rotateY(360deg);
}
#input:focus~ .box #left{
    right: 250px;
}
#input:focus~ .box #right{
    left: 250px;
}
#input:focus~ .box #top{
    bottom: 200px;
}
#input:focus~ .box #bottom{
    top: 200px;
}

button {
    height: 30px;
    width: 70px;
    border-radius: 50px;
    background-color: aqua;
    color: #fff;
    top: -40px;
    left: 200px;
    position: absolute;
     border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00ffffa1;
}